In [ ]:
import numpy as np, pandas as pd

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

def convert_to_float(value):
    # Handle None values
    if value is None:
        return None

    # Convert other values to float
    return float(value)

def dataframetosql(dataframe):
    conn = None

    try:
        conn = mysql.connector.connect(host="localhost", user="root", password="Nikhil@1911", database="HR_SCHEMA", charset="utf8")
        cur = conn.cursor()

        cur.execute("DELETE FROM project_hr")
        conn.commit()

        # Replace NaN with None (Python's None)
        dataframe.replace({np.nan: None}, inplace=True)

        for _, rs in dataframe.iterrows():
            employee_id = int(rs[0])
            department = str(rs[1])
            region = str(rs[2])
            education = str(rs[3])
            gender = str(rs[4])
            recruitment_channel = str(rs[5])
            no_of_trainings = int(rs[6])
            age = int(rs[7])
            previous_year_rating = str(rs[8]) 
            length_of_service = int(rs[9])
            KPIs_met_more_than_80 = int(rs[10])
            awards_won = int(rs[11])
            avg_training_score = int(rs[12])

            query = "INSERT INTO project_hr (employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met_more_than_80, awards_won, avg_training_score) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
            values = (employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met_more_than_80, awards_won, avg_training_score)
            cur.execute(query, values)
            conn.commit()

        cur.close()

    except Error as e:
        print("Error in MySQL connection:", e)

    finally:
        if conn and conn.is_connected():
            conn.close()

# Main program
dataframe = pd.read_csv("uncleaned_employees.csv")

print(dataframe)
dataframetosql(dataframe)
print("\nDataframe to MySQL Data transferred successfully")